#sidebar {
  position: fixed;
  top: 55px;
  overflow: hidden;
  z-index: 10;

  overflow-y: auto;
  background-color: #1f2833;

  height: 100%;
  width: 190px;
  position: fixed;
  z-index: 10;

  #nav {
    height: calc(100%-189px);

    ul {
      padding: 10px 0 10px 10px;
      color: #556366;
      display: block;
      outline: none;
    }
  }
}

// .submenu {
//   max-height: 0;
//   overflow: hidden;
//   transition: all 0.2s ease-in-out;
// }

// .menu-list li ul {
//   margin-top: 0;
//   margin-bottom: 0;
// }

// .menu-list a.is-active {
//   background-color: #1f2833;
//   color: #fff;
// }
