<div class="columns" id="sidebar">
    <div class="column is-12" style="background-color: #1F2833;">
        <aside class="menu">
            <p class="menu-label">
              General
            </p>
            <ul class="menu-list">
              <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
              <li><a></a></li>
            </ul>
            <p class="menu-label">
              Custom
            </p>
            <ul class="menu-list">
              <li><a [routerLink]="['/settings']">Application</a></li>
              <li><a>Pages</a></li>
              <li *ngIf="!true">
                <a class="is-active">Manage Your Team</a>
                <ul>
                  <li><a>Members</a></li>
                  <li><a>Plugins</a></li>
                  <li><a>Add a member</a></li>
                </ul>
              </li>
              <li *ngIf="!true"><a>Invitations</a></li>
              <li *ngIf="!true"><a>Cloud Storage Environment Settings</a></li>
            </ul>
            <p class="menu-label">
              Layout
            </p>
            <ul class="menu-list">
              <li><a>Themes</a></li>
              <li><a>General</a></li>
              <li><a>Builder</a></li>
            </ul>
            <p class="menu-label">
              Elements
            </p>
            <ul class="menu-list">
              <li><a>Invoice</a></li>
              <li><a>Forms</a></li>
              <li><a>Board</a></li>
              <li><a>Calendar</a></li>
              <li><a>Products</a></li>
              <li><a>Icon</a></li>
            </ul>
            <p class="menu-label">
              Features
            </p>
            <ul class="menu-list">
              <li><a>Animations</a></li>
              <li><a>Components</a></li>
              <li><a>Table</a></li>
              <li><a>Cards</a></li>
              <li><a>Charts</a></li>
              <li><a>UI Kits</a></li>
              <li><a>Widgets</a></li>
              <li><a>Maps</a></li>
            </ul>
          </aside>
    </div>
</div>
  