<div class="container">
  <section class="hero bd-hero bd-is-basic">
    <div class="hero-body">
      <div class="container">
        <div class="bd-hero-body">
          <div class="bd-hero-heading">
            <h1 class="title">
              <p>Tables</p>
            </h1>
            <div class="subtitle is-4">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non
                minima sunt consectetur asperiores voluptatem corporis tenetur
                dolores, fugit enim distinctio saepe mollitia
                <strong>corrupti</strong> vero illum eius quidem deserunt quod
                sint.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="bd-docs-body">
    <div class="bd-docs-content bd-content">
      <app-agrid></app-agrid>
    </div>
  </div>
</div>
