<div class="container is-fluid">
    <div class="columns is-centered">
        <div class="column">
            <div class="card">
              <div class="card-content">
                <div style="display: block;">
                    <canvas baseChart
                        [data]="polarAreaChartData"
                        [labels]="polarAreaChartLabels"
                        [legend]="polarAreaLegend"
                        [chartType]="polarAreaChartType">
                    </canvas>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>