<div class="container is-fluid">
    <div class="columns is-centered">
        <div class="column">
            <div class="card">
              <div class="card-content">
                <canvas baseChart 
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [plugins]="barChartPlugins"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
                </canvas>
              </div>
            </div>
          </div>
    </div>
</div>