<div class="container is-fluid">
    <div class="columns is-centered">
        <div class="column">
            <div class="card">
              <div class="card-content">
                <div style="display: block;">
                    <canvas baseChart
                        [datasets]="scatterChartData"
                        [options]="scatterChartOptions"
                        [chartType]="scatterChartType">
                    </canvas>            
                </div>
              </div>
            </div>
          </div>
    </div>
</div>